body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 1em;
}

h1 {
    color: #553A45;
    font-size: 3em;
    text-align: center;
}

.calculator {
    width: 360px;
    margin: auto;
    border: 1px solid #867275;
    border-radius: 1em;
    box-shadow: 0 8px 35px -7px #553A45;
}

.calculator-display {
    min-height: 100px;
    background: #553A45;
    padding: 1.5em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.calculator-display--operation {
    font-size: 1.3em;
    color: #CCCCCC;
    text-align: right;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted;
}

.calculator-display--result {
    font-size: 2.5em;
    color: #FFFFFF;
    text-align: right;
    margin-top: 0.5em;
}

.calculator-buttons {
    padding: 1em;
}

.calculator-buttons--row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 1em;
}

.calculator-buttons--button {
    width: 3em;
    height: 3em;
    border: 1px solid #56424A;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-image: linear-gradient(bottom, rgb(85, 58, 68) 0%, rgb(113, 70, 86) 100%);
    background-image: -o-linear-gradient(bottom, rgb(85, 58, 68) 0%, rgb(113, 70, 86) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(85, 58, 68) 0%, rgb(113, 70, 86) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(85, 58, 68) 0%, rgb(113, 70, 86) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(85, 58, 68) 0%, rgb(113, 70, 86) 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(85, 58, 68)),
        color-stop(1, rgb(113, 70, 86))
    );
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #553A45, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #553A45, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #553A45, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}
.calculator-buttons--button:hover {
    background: #4C2636;
    -webkit-box-shadow: 0px 6px 0px #4C2636, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #4C2636, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #4C2636, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.calculator-buttons--button:active {
    background-color: #4C2636;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}